<div class="p-4">
  <div class="flex flex-row justify-between">
    <app-button (click)="onNew()">NEW</app-button>
    <div *ngIf="withoutComposite$ | async as ctx">
      {{ ctx.mode }} / {{ ctx.current.id }} / editTimes: {{ chooseCount }}
    </div>
  </div>

  <div class="flex flex-row gap-2">
    <div
      *ngIf="current$ | async as ctx"
      class="p-2 m-auto border-4 border-blue-500 border-opacity-50"
      [ngClass]="{
        'bg-green-200': ctx.mode === 'new' && chooseCount % 2 === 0,
        'bg-blue-200': ctx.mode === 'new' && chooseCount % 2 !== 0,
        'bg-yellow-200': ctx.mode === 'edit' && chooseCount % 2 === 0,
        'bg-red-200': ctx.mode === 'edit' && chooseCount % 2 !== 0
      }"
    >
      <div [formGroup]="ctx.form">
        <div>MODE: {{ ctx.mode }}</div>
        <div>ID: {{ ctx.toy.id }}</div>
        <div>
          <input type="text" formControlName="name" />
        </div>
        <app-button (click)="onSave(ctx.mode, ctx.form.value)">SAVE</app-button>
      </div>
    </div>

    <div class="p-2 m-auto">
      <div
        *ngFor="let item of items$ | async"
        class="flex flex-row gap-2 p-1 justify-center items-center"
      >
        <div>{{ item.id }}</div>
        <div>{{ item.name }}</div>
        <app-button (click)="onEdit(item)">EDIT</app-button>
        <app-button (click)="onRemove(item)">DEL</app-button>
      </div>
    </div>
  </div>
</div>
